In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [2]:
data = pd.read_csv('data.csv',parse_dates=['release_date'])
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015

In [3]:
data.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

In [4]:
len(data)

1890

In [5]:
data[data.budget == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [6]:
data[data.runtime == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [7]:
data[data.runtime == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [8]:
data.runtime.mean()

109.65343915343915

In [9]:
data.runtime.median()

106.5

In [10]:
data['rev'] = data['revenue'] - data['budget']

In [11]:
data[data.rev == data.rev.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [12]:
data[data.rev == data.rev.min()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [13]:
data[data.rev>0].original_title.count()

1478

In [14]:
d=data[data.release_year == 2008]
d[d.revenue == d.revenue.max()].original_title

600    The Dark Knight
Name: original_title, dtype: object

In [15]:
d=data[(data.release_year >= 2012) & (data.release_year <= 2014)]
d[d.rev == d.rev.min()].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

In [16]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [17]:
d=data[data.rev>0]
pd.DataFrame(d.genres.str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [18]:
data.director.value_counts()

Steven Soderbergh         13
Clint Eastwood            12
Ridley Scott              12
Shawn Levy                10
Steven Spielberg          10
                          ..
David Leland               1
Chris Miller|Raman Hui     1
Steve Shill                1
Vicky Jenson               1
Asger Leth                 1
Name: director, Length: 958, dtype: int64

In [19]:
data[data.rev>0].director.value_counts()

Ridley Scott         12
Steven Spielberg     10
Steven Soderbergh    10
Clint Eastwood       10
Shawn Levy            9
                     ..
Peter Ramsey          1
Sydney Pollack        1
Marcus Raboy          1
Christian Alvart      1
Peter Weir            1
Name: director, Length: 774, dtype: int64

In [20]:
df_temp = data.groupby(['director'])['rev'].sum()
df_temp[df_temp==df_temp.max()]

director
Peter Jackson    5202593685
Name: rev, dtype: int64

In [21]:
df_cast = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index() 
df_cast.columns =  ['row1','row2','cast']
df_cast['rev_cast'] = df_cast.row1.apply(lambda x: data.iloc[x]['rev'])
df_temp = df_cast.groupby(['cast'])['rev_cast'].sum()
df_temp[df_temp==df_temp.max()]

cast
Emma Watson    6666245597
Name: rev_cast, dtype: int64

In [22]:
d=data[data.release_year == 2012]
df_cast = pd.DataFrame(d.cast.str.split('|').tolist()).stack().reset_index() 
df_cast.columns =  ['row1','row2','cast']
df_cast['rev_cast'] = df_cast.row1.apply(lambda x: d.iloc[x]['rev'])
df_temp = df_cast.groupby(['cast'])['rev_cast'].sum()
df_temp[df_temp==df_temp.min()]

cast
Kirsten Dunst   -68109207
Name: rev_cast, dtype: int64

In [23]:
d=data[data.budget>data.budget.mean()]
pd.DataFrame(d.cast.str.split('|').tolist()).stack().value_counts()

Matt Damon              18
Adam Sandler            17
Angelina Jolie          16
Tom Cruise              15
Eddie Murphy            15
                        ..
Jared Leto               1
Kodi Smit-McPhee         1
Benedict Cumberbatch     1
Jack O'Connell           1
Faith Ford               1
Length: 1508, dtype: int64

In [24]:
d=data[data.cast.map(lambda x: True if 'Nicolas Cage' in x else False)]
pd.DataFrame(d.genres.str.split('|').tolist()).stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

In [25]:
pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
BBC                                         1
Storefront Films                            1
Europa Corp                                 1
Nine Yards Productions                      1
Sunset Gower Studios                        1
Length: 1772, dtype: int64

In [26]:
d=data[data.release_year == 2015]
pd.DataFrame(d.production_companies.str.split('|').tolist()).stack().value_counts()

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
                                          ..
ArtÃ©mis Productions                       1
DMG Entertainment                          1
3 Arts Entertainment                       1
Flynn Picture Company                      1
Infinitum Nihil                            1
Length: 246, dtype: int64

In [27]:
d=data[data.genres.map(lambda x: True if 'Comedy' in x else False)]
df_comp = pd.DataFrame(d.production_companies.str.split('|').tolist()).stack().reset_index() 
df_comp.columns =  ['row1','row2','production_companies']
df_comp['rev_comp'] = df_comp.row1.apply(lambda x: d.iloc[x]['rev'])
df_temp = df_comp.groupby(['production_companies'])['rev_comp'].sum()
df_temp[df_temp==df_temp.max()]

production_companies
Universal Pictures    8961545581
Name: rev_comp, dtype: int64

In [28]:
d=data[data.release_year == 2012]
df_comp = pd.DataFrame(d.production_companies.str.split('|').tolist()).stack().reset_index() 
df_comp.columns =  ['row1','row2','production_companies']
df_comp['rev_comp'] = df_comp.row1.apply(lambda x: d.iloc[x]['rev'])
df_temp = df_comp.groupby(['production_companies'])['rev_comp'].sum()
df_temp[df_temp==df_temp.max()]

production_companies
Columbia Pictures    2501406608
Name: rev_comp, dtype: int64

In [29]:
d=data[data.production_companies.map(lambda x: True if 'Paramount Pictures' in x else False)]
d[d.rev==d.rev.min()].original_title

926    K-19: The Widowmaker
Name: original_title, dtype: object

In [30]:
df_temp = data.groupby(['release_year'])['rev'].sum()
df_temp[df_temp==df_temp.max()]

release_year
2015    18668572378
Name: rev, dtype: int64

In [31]:
d=data[data.production_companies.map(lambda x: True if 'Warner Bros' in x else False)]
df_temp = d.groupby(['release_year'])['rev'].sum()
df_temp[df_temp==df_temp.max()]

release_year
2014    2295464519
Name: rev, dtype: int64

In [32]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_date'].dt.month.value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [33]:
data['release_month'] = data.release_date.dt.month
d=data[(data.release_month >= 6) & (data.release_month <= 8)]
d.release_month.value_counts().sum()

450

In [34]:
d=data.query('release_month in ["1","2","12"]')
pd.DataFrame(d.director.str.split('|').tolist()).stack().value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Adam Shankman        4
                    ..
Anand Tucker         1
Russell Crowe        1
Robin Budd           1
David R. Ellis       1
Lee Tamahori         1
Length: 359, dtype: int64

In [35]:
pivot = pd.pivot_table(data, values=['rev'],
index=['release_month'],
columns=['release_year'],
aggfunc='sum',
fill_value=0)
pivot.idxmax().value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [36]:
df_comp = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df_comp.columns =  ['row1','row2','production_companies']
data['t_len'] = data['original_title'].map(lambda x: len(x))
df_comp['title_len'] = df_comp.row1.apply(lambda x: data.iloc[x]['t_len'])
df_temp = df_comp.groupby(['production_companies'])['title_len'].mean()
df_temp[df_temp==df_temp.max()]

production_companies
Four By Two Productions    83.0
Name: title_len, dtype: float64

In [37]:
df_comp = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index() 
df_comp.columns =  ['row1','row2','production_companies']
data['t_words'] = data['original_title'].str.split().str.len()
df_comp['title_words'] = df_comp.row1.apply(lambda x: data.iloc[x]['t_words'])
df_temp = df_comp.groupby(['production_companies'])['title_words'].mean()
df_temp[df_temp==df_temp.max()]

production_companies
Four By Two Productions    12.0
Name: title_words, dtype: float64

In [38]:
words = set()
for i in data['original_title'].to_list():
    for j in i.lower().split():
        words.add(j)
print(len(words))

2461

In [39]:
d=data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']]
d.original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

In [40]:
import itertools as its

In [41]:
df_cast=pd.DataFrame(data.cast.str.split('|'))
df_cast['pair_count'] = df_cast['cast'].apply(lambda x: Counter(its.combinations(x, 2)))
df_cast['pair_count'].sum().most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [42]:
d=data[data.rev>0]
df_dir = pd.DataFrame(d.director.str.split('|').tolist()).stack().reset_index() 
df_dir.columns =  ['row1','row2','director']
df_dir['rev_plus'] = df_dir.row1.apply(lambda x: d.iloc[x]['rev'])
df_temp = df_dir.groupby(['director'])['rev_plus'].agg('count')
df_temp1=pd.DataFrame({'director':df_temp.index, 'rev_plus':df_temp.values})

In [43]:
df_dir_all = pd.DataFrame(data.director.str.split('|').tolist()).stack().reset_index() 
df_dir_all.columns =  ['row1','row2','director']
df_dir_all['rev_ttl'] = df_dir_all.row1.apply(lambda x: data.iloc[x]['rev'])
df_temp_all = df_dir_all.groupby(['director'])['rev_ttl'].agg('count')
df_temp_all1=pd.DataFrame({'director':df_temp_all.index, 'rev_ttl':df_temp_all.values})

In [44]:
search=['Quentin Tarantino','Steven Soderbergh','Robert Rodriguez','Christopher Nolan','Clint Eastwood']
joined = df_temp_all1.merge(df_temp1, on='director', how='outer')
joined['percentage']=joined['rev_plus']/joined['rev_ttl']
joined[joined['director'].isin(search)]

              director  rev_ttl  rev_plus  percentage
151  Christopher Nolan        8       8.0    1.000000
157     Clint Eastwood       12      10.0    0.833333
748  Quentin Tarantino        7       6.0    0.857143
791   Robert Rodriguez       11       8.0    0.727273
902  Steven Soderbergh       13      10.0    0.769231